<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="ImapUsername" value="***" />
	<add key="ImapPassword" value="***" />
	<add key="ImapServer" value="***" />
	<add key="ImapPort" value="***" />
	<add key="SourceFolder" value="***"/>
	<add key="DestinationFolder" value="***"/>
	<add key="Subject" value="***"/>
</appSettings>
